<div class="container">
    <div class="col-12">
        I am Oscar Rosales, a software engineer and game programmer. 
        With a Bachelor's degree in computer science and VFS graduate, I have experience in software development, be it for games, web, or mobile.
        I am a big fan of fantasy and sci-fi and odds are you'll run into me with a book in my hands. 
        Lord of the Rings has always been very important to me and Neil Gaiman is my favorite writer. I really enjoy comic books.
        I am a gamer, particularly enjoying RPGs and story driven games.
        Football (soccer) is something else I am passionate about, be it playing or watching. I support Monterrey and Inter Milan.
        My favorite music genres are punk rock and grunge. I also play guitar in my free time.
        Stegosaurus is my favorite dinosaur. I still have a shelf full of dinosaur toys in my room back in Mexico. 
    </div>
</div>